.html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.box {
  width: 470px;
  padding:10px;
  border-width: 5px;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #4E4D4D;
  font-weight: 600;
  background-color: #E4D0FF;
}

h1 {
  color: #4C06EA;
}

.links {
  color: #F82828;
  font-size: 13px;
}
